@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    color: white;
    font-family: "Open Sans", sans-serif;

    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

main#fatherContainer{
    display: flex;
    flex-direction: column;
    
}

img#ilustrationImage{
    padding-top: 15px;
    align-self: center;
}

article#textArticle{
    line-height: 1.55em;
}

div#buttonContainer{
    display: flex;
    padding: 35px;
    justify-content: center;

}

input#register-button{
    color: hsl(257, 40%, 49%);
    border: none;
    flex: 0 0 220px;
    height: 50px;
    border-radius: 70px; 
}

h1, article{
    text-align: center;
}

.attribution{
    text-align: center;
}

.attribution > a{
    text-decoration: none;
    color: black;
}

.attribution > a:hover{
    color: pink;
}

.footerDivLinks{
    text-align: center;
}

.footerDivLinks > a{
    border: 1px solid white;
    padding: 7px;
    border-radius: 100%;
}

.fa-brands{
    color: white;
}

footer{
    display: none;
}

@media screen and (min-width: 1440px) {
    div#asideContent{
        position: absolute;

        left: 50%;
        top: 35%;
    }

    h1{
        
    }
    div#imageContentLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        position: absolute;

        left: 4%;
        top: 5%;
    }

    img#logoImage{
        width: 175px;
        top: 0%;
        padding-bottom: 100px;
    }

    img#ilustrationImage{
        width: 600px;
    }
}