@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    height: 97vh;
    display: flex;

    flex-direction: column;

    justify-content: space-between;;

    color: white;
    font-family: "Open Sans", sans-serif;

    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

body::-webkit-scrollbar{
    display: none;
}

header#logoContent{
    display: flex; 
    margin: 20px;
    margin-left: 100px;
}

main#fatherContainer{
    display: flex;
    justify-content: space-evenly;  
}

div#asideContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}


img#ilustrationImage{
    width: 45vw;
    object-fit: fill;
}

footer#socialMedia{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

div#mediaLink{
}

h1 {
    max-width: 350px;
    line-height: 1.8em;
    font-size: 2em;
}

p#textContent{
    max-width: 600px;
    line-height: 1.7em;
}

input#registerButton{
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: none;
    width: 170px;
    height: 50px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.496);
    color: #4a23ac;
    border-radius: 150px;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
}
input#registerButton:hover{
    background-color: #c36fff;
    color: white;
    cursor: pointer;
}

div#mediaLinks > a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px;
    margin: 7px;
}

div#mediaLinks > a:hover{
    background-color: #c36fff;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 768px){
    main#fatherContainer{
        flex-direction: column;
    }
    img#ilustrationImage{
        width: 70vw;
        align-self: center;
    }

    div#asideContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 1.7em;
        text-align: center;
    }
    p#textContent{
        text-align: center;
    }
    input#registerButton{
    }

    footer#socialMedia{
        margin: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}