@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    height: 97vh;
    display: flex;

    flex-direction: column;

    justify-content: space-between;;

    color: white;
    font-family: "Open Sans", sans-serif;

    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

body::-webkit-scrollbar{
    display: none;
}

header#logoContent{
    display: flex;
    align-self: flex-start;
}

main#fatherContainer{
    display: flex;
    align-content: center;
}

img#ilustrationImage{
    width: 500px;
    padding-right: 20px;   
}

footer#socialMedia{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div#mediaLink{
}